*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg") ;
  background-repeat: no-repeat;
  background-size: 1000px auto, 600px auto;
  background-position: -450px -650px, 600px 370px;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 79%, 39%);
  width: 100%;
  height: 100%;
}
.card{
  width: 350px;
  max-width: 400px;
  background-color: #fff;
  margin: 100px auto;
  border-radius: 15px;
  overflow: hidden;
}

.blue{
  background-color: hsl(185, 79%, 39%);
  background-image: url("./images/bg-pattern-card.svg");
  height: 150px;
  margin: auto;
}
.profile-details{
  margin-top: -75px;
}
.profile-details img{
  display: block;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: auto;
  height: 150px;
}
p.center{
  margin: 20px 0 0 0;
}
.profile-name{
  margin-left: 20px;
}
.age{
  margin-left: 10px;
}
.location{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
.profile-stats{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  margin-top: 30px;
  border-top: 1px solid hsl(0, 0%, 59%);
}

.center{
  text-align: center;
}
.text-bold{
  font-weight: bold;
}
.big-text{
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
}
.small-text{
  font-size: 11px;
  text-align: center;
}
.grey-text{
  color: hsl(0, 0%, 59%);
}

/*Media queries*/
@media only screen and (max-width : 375px) {
.card{
  min-width: 300px;
  width: 85%;
}

body{
  background-size: 800px auto, 550px auto;
  background-position: -600px -500px, 150px 370px;
}
}
